#sun{
	position: absolute;
	-webkit-transform: translate(3em,5em);
    -moz-transform: translate(3em,5em);
    -o-transform: translate(3em,5em);
    -ms-transform: translate(3em,5em);
    transform: translate(3em,5em);
	transition:5s;
}
ul
{
list-style-type: none
}

@keyframes slidein {
  0% { top: 0; left: 0; }
  30% { top: 50px; }
  68%, 72% { left: 50px; }
  100% { top: 100px; left: 100%; }
}
.info, a{
	font-family: 'Lato', sans-serif;
	font-weight:400;
	color:white;
}
.info a:hover{
	color:#8c8c8c;
	text-decoration: none;
}
.info a:visited{
	color:#8c8c8c;
}
.infoResume, .infoResume a{
	font-family: 'Lato', sans-serif;
	font-weight:100;
	color:white;
}
.infoResume a:hover{
	color:#8c8c8c;
	text-decoration: none;
}
.infoResume a:visited{
	color:#8c8c8c;
}
#portfolio{
	margin:0;
	padding:0;
}
#portfolio section{
	margin:1em;
	padding: 1em;
}


.careerTitle{
	line-height:1em;
}


.social{text-align: center;}
.social img{margin:1em;}

.juicePic{
	width:300px;
	height:505px;
}
.container h2 {
	font-family: 'Lato', sans-serif;
	color:white;
	font-weight:100;
	font-size:2em;
}
.resumeMain p, ul, li, b, i{
	font-family: 'Lato', sans-serif;
	font-weight:normal;
}
.resumeMain h4{
	font-weight:100;
}
@media (max-width: 600px) {

}