
<header>
<div class="container">
  <div id="body" class="row">

  <div id="header" class= "row">

    <p class="large-3 small-12 columns"> 241 West 15th St Apt 3FE
      <br>
      New York, NY 10011
    </p>
    <h1 id="name" class="large-6 small-12 columns"> Hire Me</h1>
    <p class = "large-3 small-12 columns"> Phone: <a class="info"href="tel:440-221-0568">440-221-0568</a>
      <br>
      Email:<a class="info" href="mailto:busaaf@gmail.com">busaaf@gmail.com</a>
    </p>
  </div><!--end header-->
</div>
</header>
