
<header>
<div class="container">
  <div id="body" class="row">

  <div id="header" class= "row">

    <p class="large-3 small-12 columns"> 241 West 15th St Apt 3FE
      <br>
      New York, NY 10011
    </p>
    <h1 id="name" class="large-6 small-12 columns"> Full Stack Developer </h1>
    <p class = "large-3 small-12 columns"> Phone: <a class="info"href="tel:440-221-0568">440-221-0568</a>
      <br>
      Email:<a class="info" href="mailto:busaaf@gmail.com">busaaf@gmail.com</a>
    </p>
  </div><!--end header-->
</div>
</header>

<section id="portfolio">


<div class="row">
	<section class="goals">
		<div class="row">
			<div class = "large-3 columns">
				<h4> Goals: </h4>
			</div>
			<div class = "large-9 columns">
			<p>To develop robust and efficient technologies in order to utilize information and create the best possible experience for my end users.</p>
			</div>
		</div>
	</section>
	<section class="education">
		<div class="row">
			<div class = "large-3 columns">
				<h4> Education: </h4>
			</div>

			<div class = "large-9 columns">
				<p> <b>Syracuse University,</b> Syracuse, NY <br>
				<b>The School of Information Studies</b><br>
				Major: Information Management and Technology (2014)</p>

			</div>
		</div>
	</section>
	<section class="experience">
		<div class="row">
			<div class = "large-3 columns">
				<h4> Professional Experience: </h4>
			</div>

			<div class = "large-9 columns">
				<p><b>BNY Mellon,</b> New York, NY<br>
				<i>Senior Developer I</i> (June 2014 - Current)</p>
				<ul>
					<li> Application Developer, Software Engineer, Web Developer</li>
					<li> IDEs - VisualStudio, LinqPad, Eclipse, Toad, SQLPlus, IntelliJ</li>
					<li> C#.Net, WPF, MVC4, Linq, PowerShell</li>
					<li> Java, JavaScript, HTML, CSS</li>
					<li> Oracle, MySQL </li>
				</ul>

				<p><b>BNY Mellon,</b> New York, NY<br>
				<i>Application Developer Intern</i> (June 2013 - August 2013)</p>
				<ul>
					<li>Set up application development environment.</li>
					<li>System corrections for GTM application of Java, Javascript, SQL, and HTML.</li>
					<li>Created documentation for financial users and production.</li>
				</ul>
				<p><b>SIDEARM Sports,</b> Syracuse, NY<br>
				<i>Streaming and Customer Support</i> (December 2012 - May 2014)</p>
				<ul>
				<li>Provide solutions to customers and clients via screensharing, telephone, or email regarding payment accounts, streaming quality, and/or website defects.</li>
				<li>Manage live streaming events by fixing errors through software analysis or website back-end database.</li>

				</ul>

				<p><b>4walls.com,</b>Cleveland, OH<br>
				<i>Technical Assistant, Production Manufacturer, Shipping Clerk</i> (May 2011 - August 2011)</p>
				<ul>
					<li>Worked with Adobe InDesign, Photoshop, Illustrator, and Acrobat to format and render wallpaper designs.</li>
					<li>Online database input and organization for new company website.</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="infoTech">
		<div class="row">
			<div class = "large-3 columns">
				<h4>Information Technologies</h4>
			</div>

			<div class = "large-9 columns">
				<p> Application Programming Languages - <b>C#, Java, Linq</b><br>
					Database Management Language - <b>SQL</b><br>
					Web Design and Management - <b>HTML, CSS, Javascript </b><br>
					Scripting Languages - <b>Linux, Powershell</b><br>
					Graphic Design - <b>Adobe Photoshop, Illustrator, InDesign, Dreamweaver </b><br>
					Workplace Applications - <b>Microsoft Word, Excel, PowerPoint</b> <br>
					JavaScript Libraries - <b>JQuery, Node, Angular</b>
			</div>
		</div>
	</section>
	<section class="additional">
		<div class="row">
			<div class = "large-3 columns">
				<h4>Additional</h4>
			</div>

			<div class = "large-9 columns">
				<p> <b>ManifestaOak.com</b> - website developer, server host and content manager.<br>
					<b>Application Developer Program</b> - Graduated among top of class and gave graduation speech.<br>
					<b>Study abroad experience</b> - Florence for six week program with business focus.</p>

			</div>
		</div>
	</section><section class="references">
		<div class="row">
			<div class = "large-3 columns">
				<h4>References</h4>
			</div>

			<div class = "large-9 columns">
				<p> Available upon request.</p>

			</div>
		</div>
	</section>
	</div>

<footer>
	<div class="row">
		<section class = "social large-12 columns">
			<a href="https://www.facebook.com/antonio.busa"><img src = "\img\fb.png"/></a>
			<a href="https://www.linkedin.com/pub/antonio-busa/5a/a2a/914"><img src = "\img\linkedin.png"/></a>
			<a href="https://twitter.com/afbooza9"><img src = "\img\twitter.png"/></a>
			<a href=""><img src = "\img\google+.png"/></a>
		</section>
	</div>
</footer>

</section>
