#containerHome{
    height:100vh;

}
#logo{
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left:-242px;
    transform:translate(0%, -50%);
    -webkit-transform:translate(0%, -50%);
}
#logo img{
    width:auto;
    height: auto;
    max-height:100%;
    max-width: 100%;

}
@media (max-width: 600px) {
    #logo img{
        width:75%;
       margin-left:80px;
    }
}

/*.circle {*/
    /*border-radius: 50%;*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*border-radius: 50%;*/
    /*display: block;*/

/*}*/
/*.circle:after {*/
    /*content: "";*/
    /*display: block;*/
    /*height:200%;*/
    /*width:200%;*/
    /*background: radial-gradient(ellipse at center, rgba(24, 188, 156, ) 0%, rgba(24, 188, 156, 1) 70%, rgba(24, 188, 156, 1) 100%);*/
    /*border-radius: 50%;*/
    /*position: absolute;*/
    /*top: -50%;*/
    /*left: -50%;*/
/*}*/